
<div style="background-color: #aaaaaa;vertical-align:midlle; horizontal-align:center; border: dashed 2px gray; padding: 10px; margin:10px;" >
<h1><class="tag">Hello, Rails!</class="tag"></h1>

<h1>MicroAqua FP7 project</h1> 
<h2 style="color:blue; font-style:Tahoma;">Innovative aquatic biosensors</h2> 
<h1>Home#index</h1 >
<p>Find me in app/views/home/index.html.erb</p> 
</div>

